<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><%= title %></p>
    <script type="text/javascript">
        setTimeout(function(){
            window.location.href = "/user/list";
        }, 800);
    </script>
  </body>
</html>